.wrapper {
	color: rgb(21, 32, 192);
	text-align: center;

	&__img {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	&__post{
		display: flex;
		justify-content: center;
		align-items: center;
		&-item{
			margin: 3px 5px;
			border-bottom: 1px solid;
		}
	}
}
